.card{
    border: 1px solid #c1c1c1;
    border-radius: .5rem;
    cursor: pointer;
    flex-basis: calc((100% / 3) - 1rem);
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.card__imagem{
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 100%;
}

.card__conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card__titulo{
    font-size: 1rem;
}

.card__preco{
    font-size: 1.25rem;
    font-weight: 500;
}

.card__entrega{
    color: hsl(145, 100%, 30%);
    font-size: .75rem;
    font-weight: 600;
}

.card__botoes{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.card:not(:hover) .card__botoes{
    display: none;
}

@media (width <= 768px){
    .card{
        flex-basis: calc((100% / 2) - 1rem);
    }
}

@media (width <= 360px){
    .card{
        flex-basis: 100%;
    }
}